body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  height: 100vh;
}

/******* Navbar section *******/
.navbar {
  height: 15vh;
  background: #F2F2F2;
  display:flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1em;
}

.navbar-content {
  display:flex;
  justify-content: center;
  align-items: center;
}

.navbar-content >img {
 height: 175px;
}

.navbar-content > .textBox {
  display: flex;
  padding: 0 1.5em;
  height: 15vh;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  font-size: 18px;
}
.navbar-content > .textBox > h1 {
  margin: 0;
  color: #FF7D00;
}

/******* Contents section *******/
.contents {
  background: #3F3D56;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  padding-bottom: 3em;
}

.image-container {
  width: 60%;
  display: flex;
  padding: 3em;
  height: auto;
  align-items: flex-end;
}
.image-container > iframe {
  width: 100%;
  height: 100%;
}
.image-container > img {
  width: 100%;
}
.chatboot-container {
  display: flex;
  justify-content:center;
  align-items: center;
  padding: 3em 1em;
  width: 40%;
}

/******* Footer section *******/
.footer {
  height: 10vh;
  background: #F2F2F2;
}

/******* Chatbot custom section *******/
.react-chatbot-kit-chat-container {
  background: #ffffff;
}
.react-chatbot-kit-chat-input-form {
  background: #3F3D56;
}

.react-chatbot-kit-chat-message-container {
  height: 84.5%;
}

.react-chatbot-kit-chat-container {
  height: 515px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}


/*******  Reusable Components *******/

.url-link {
  font-size: 0.8rem;
  padding: 10px;
  border-radius: 3px;
  background-color: #FF7D00;
  display: flex;
  align-items: center;
  color: #fff;
}
.url-icon {
  width: 35px;
  margin-right: 10px;
}
.url-header {
  font-size: 0.8rem;
  font-weight: bold;
}

.list-title {
  font-size: 17px;
    text-align: center;
    color: #FF7D00;
    padding: 0.5em 0;
}
.list {
  padding-left: 1em;
  margin-bottom: 2em;
  width: 100%;
}

.list-item {
  margin: 10px;
  font-size: 14px;
  font-weight: 500;
  color: #FF7D00;
  cursor: pointer;
}

.list-item:hover {
  color: #3F3D56;
  text-decoration: underline;
}

.options {
  padding-bottom: 15px;
}

.options-header {
  text-align: center;
  font-size: 1rem;
  font-weight: normal;
}

.options-container {
  display: flex;
  flex-wrap: wrap;
}

.option-item {
  padding: 8px 15px;
  border: 1px solid  #FF7D00;
  border-radius: 25px;
  color:  #FF7D00;
  font-size: 0.9rem;
  margin: 7px 3px;
  cursor: pointer;
  font-weight: 500;
}

.option-item:hover {
  background-color:#FF7D00;
  color: #ffffff;
}

.mapsButtons {
  padding: 9px 30px;
  border: 1px solid #FF7D00;
  border-radius: 5px;
  color: #FF7D00;
  font-size: 0.9rem;
  margin: 5px 3px;
  cursor: pointer;
  font-weight: 500;
  text-align: center;
}

.mapTitle {
  font-size: 15px;
  text-decoration: underline;
  padding: 8px 0;
  font-weight: 500;
  color: #3F3D56;
}

.notAvailableMaps {
  font-size: 11px;
  text-align: center;
  color: #B33A3A;
  font-weight: 800;
  padding: 0 1em;
}

.notAvailableMaps > span {
  font-size: 2em;
}


.mapsButtons:hover {
  background-color:#FF7D00;
  color: #ffffff;
}

.mapsAtag {
  text-decoration: none;
}
.plan {
  padding: 9px 4px !important;
}

.contactUl {
  font-size: 13px;
}
.contactUl > li {
  padding: 16px 4px;
}

/******* PDF frame/ifrmae *******/
.pdfFrame {
  position: absolute;
  width: 60%;
  height: auto;
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 25%;
}

iframe {
  height: 85vh;
  width: 90%;
  border: none;
  border-radius: 5px;
}

.switchTab {
  width: 88%;
  padding-top: 2em
}

.switchTab > span {
  color: #FF7D00;
  margin: 0;
}

.switchTab > a {
 color: #ffffff;
}
.switchTab > a:hover {
 color: #0065AB;;
 padding:0 5px ;
}

/******* mobile resiponsive design *******/

@media(max-width: 710px){
  .contents {
    display: block;
    padding-bottom: 0;
  }

  .pdfFrame {
    position: unset;
    width: 90%;
    margin: auto;
    padding-top: 3em;
  }

.chatboot-container {
  padding:3em 1em;
  width: auto;
}
  .navbar-content >img {
    height: 105px;
  }
  .navbar-content > .textBox > h1 {
    font-size: 18px;
  }
  .navbar-content > .textBox {
    padding-top: 32px;
    padding-left: 10px;
  }

  .image-container {
    display: none
  }

  .contents {
    justify-content: center;
  }
  
} 

