.App {
  text-align: center;
  padding: 0 2em;
}

h1 {
  color: #FF5600;
  font-size: 4em;
  font-weight: bolder;
  padding-bottom: 8px;
}

.head {
  display: flex;
  justify-content: center;
  align-items: center;
}

.head > img {
  padding: 0px 15px 69px 0px;
}

.bg {
  width: 100%;
}

.bg > img {
  width: 100%;
  max-width: 1000px;
}


@media(max-width:775px){
  h1 {
    font-size: 2.5em;
  }

  .head > img {
    padding: 0px 15px 69px 0px;
    width: 200px;
  }
}

@media(max-width: 600px){
  h1 {
    font-size: 2em;
  }

  .head > img {
    padding: 0px 15px 50px 0px;
    width: 150px;
  }
}